:root {
    --color-azul: #2196F3;
    --color-texto: #212121;
    --color-gris: #757575;
    --color-hueso: #FFFFFF;
    --color-botones: #F5F4FA;
    --color-footpage: #2F303A;
    --color-azul: #2196F3;
    --color-texto: #212121;
    --color-gris: #757575;
    --color-hueso: #FFFFFF;
    --color-behindpage: #2F303A;
    --color-behindourteam: #F5F4FA;
    --color-linkitems: #AFB1B8;
    --lineweight-normal: 1.2;
}

* {
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--color-texto);
    box-sizing: border-box;
}

h2 {
    font-size: 36px;
    font-style: bold;
    font-weight: 700;
    line-height: var(--lineweight-normal);
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}