.content1 {
    padding: 47px 0px;
    margin: 0 auto;

        
.content1__cards {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    padding: 0px;
    gap: 30px;
}

.content1__card--title {
    font-weight: 700;
    line-height: var(--lineweight-normal);
}

.content1__card--text {
    color: var(--color-gris);
    line-height: var(--lineweight-normal);
}

.content1__card {
    width: 270px;
    flex-basis: calc((100% - 90px) / 4);
    margin:0px
}

.content1__text--svg {
    background-color: var(--color-behindourteam) ;
    width: 270px;
    height: 120px;
}

}
