.top {
    height: 80px;
    margin: 0 auto;
    padding: 0px 0px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #ECECEC;
}

        
.top__container {
    display:flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

nav {
    width: 519px;
    display: flex;
    align-items: center;
}

.webstudio {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-style: bold;
    line-height: var(--lineweight-normal);
    color: var(--color-azul);
}

.top__navigation {
    display: flex;
    padding: 0px 0px;
    margin: 0px 0px 0px 93px;
    width: 300px;
    position: relative;
    gap: 50px;
}

.top__navigation li {
    flex-basis: calc((100% - 100px) / 3);
}

.nav--estudio::after {
    background-color: var(--color-azul);
    width: 53.75px;
    height: 4px;
    content: "";
    display: block;
    border-radius: 2px;
    position: absolute;
    top: 46px;
}

.navigation--portafolio::after {
    background-color: var(--color-azul);
    width: 70px;
    height: 4px;
    content: "";
    display: block;
    border-radius: 2px;
    position: absolute;
    top: 46px;
}

.navigation--portafolio {
    color: var(--color-azul)
}

.nav--estudio {
    color: var(--color-azul);
}

.top__navigation a {
    font-weight: 500;
    font-style: medium;
    line-height: var(--lineweight-normal);
}

.top__navigation a:hover,
.top__navigation a:focus {
    color: var(--color-azul);
    font-weight: 500;
    line-height: var(--lineweight-normal);
}

.top__contact {
    display: flex;
    gap: 30px;
    width: 340px;
    height: 16px;
    margin: 0px 0px 0px 340px;
    padding: 0px 0px;
}

.top__contact li {
    flex-basis: calc((100% - 30px) / 2);
}

.top__contact a {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: var(--lineweight-normal);
    color: var(--color-gris);
    fill: var(--color-gris);
}

.contact__email--icon {
    width: 20px;
    height: 16px;   
    stroke-width: 0;
    align-items: center;
}       

.contact__celphone--icon {
    width: 16px;
    height: 16px;
    stroke-width: 0;
    align-items: center;
}

.top__contact a:hover,
.top__contact a:focus {
    color: var(--color-azul);
    fill: var(--color-azul);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .top {
        width: 480px;
    }
    #main__logo {
        font-size: 24px;
    }
    nav {
        width: 100%;
        justify-content: space-between;

        .menu__hamburguer {
            height: 40px;
            width: 40px;
            margin: 0;
            padding: 0;
            background-color: transparent;
            cursor: pointer;
            border: none;
            outline: none;
        }
        .menu__hamburguer:hover,
        .menu__hamburguer--close:hover {
            fill: var(--color-azul);
        }
        .open-hamburger,
        .close-hamburguer {
            width: 40px;
            height: 40px;
        }
    }
    .menu__container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 32px;
        background-color: var(--color-hueso);
        z-index: 2;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
    }
    .menu__container.is-open {
        transform: translateX(0);
    }
    .menu__hamburguer--close {
        position: absolute;
        top: 16px;
        right: 16px;
        height: 40px;
        width: 40px;
        margin: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        border: none;
        outline: none;
    }
    .nav--estudio::after,
    .navigation--portafolio::after {
        display: none;
    }
    .top__navigation,
    .top__contact {
        display: none;
    }
    .top__navigation--menu_mobile {
        display: flex;
        width: 225px;
        flex-wrap: wrap;
        row-gap: 36px;
        padding: 0px;

        .navigation__option {
            font-size: 40px;
            font-weight: 500;
        }
    }
    .top__contact--menu_mobile {
        margin: 302px 0px 0px 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        
        .top__contact--email {
            font-weight: 500;
            font-size: 24px;
            line-height: var(--lineweight-normal);
            color: var(--color-gris);
        }
        .top__contact--celphone {
            font-size: 34px;
            font-weight: 500;
            color: var(--color-azul);
        }
    }
    .social__media--menu_mobile {
        display: flex;
        margin: 64px 0px 0px 0px;
        padding: 0px;
        justify-content: space-between;

        .link--menu_mobile {
            font-size: 18px;
            font-weight: 500;
            color: var(--color-azul);
            width: 100px;
        }
        .border_right {
            border-right: 1px solid rgba(33, 33, 33, 0.2);
            padding-right: 20px;
        }
    }
}

@media screen and (min-width: 481px) {
    .menu__hamburguer {
        display: none;
    }
    .menu__container {
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .top {
        width: 768px;
    }
    #main__logo {
        font-size: 24px;
    }
    nav {
        justify-content: space-between;
        width: 500px;
    }
    .top__container {
        width: 768px;
        justify-content: space-between;
    }
    .top__navigation {
        margin: 0;
    }
    .top__contact {
        margin: 0;
        flex-direction: column;
        width: 150px;
        height: 38px;
        justify-content: space-between;
        gap: 0px;
        align-items: left;
    }
    .contact__celphone--icon {
        position: relative;
        align-items: left;
    }
}

@media screen and (min-width: 769px) and (max-width: 975px) {
    .top {
        width: 100%;
    }
    nav {
        justify-content: space-between;
        width: 500px;
    }
    .top__container {
        width: 100%;
        justify-content: space-between;
    }
    .top__navigation {
        margin: 0;
    }
    .top__contact {
        margin: 0;
        width: 320px;
        justify-content: space-between;
        gap: 0px;
        align-items: left;
    }
    .contact__celphone--icon {
        position: relative;
        align-items: left;
    }
}

@media screen and (min-width: 975px) and (max-width: 1200px) {
    .top {
        width: 100%;
    }
    .top__container {
        width: 100%;
        justify-content: space-between;
    }
    .top__contact {
        margin: 0;
        width: 340px;
        justify-content: space-between;
        gap: 0px;
        align-items: left;
    }
}