.regular_customers {
    padding: 47px 0px;
    margin: 0 auto;
}
        
.regular_customers__container {
    width: 1200px;
    margin: 0 auto;
    padding: 0px;
    align-items: center;
}

.regular_customers__customerslist {
    display: flex;
    gap: 30px;
    padding: 0px;
    margin: 0px;
}

.regular_customers__customer {
    width: 170px;
    height: 81px;
    border: 1px solid var(--color-linkitems);
    border-radius: 4px;
    flex-basis: calc((100% - 150px) / 6);
}

.regular_customers__customer:hover {
    border: 1px solid var(--color-azul);
    cursor: pointer;
}

.regular_customers__customerlogo {
    display: flex;
    margin: 0px 0px;
    align-items: center;
    stroke: currentColor;
    stroke-width: 0;
    width: 170px;
    height: 81px;
    fill: var(--color-linkitems);
}

.regular_customers__customerlogo:hover {
    fill: var(--color-azul);
}

@media screen and (max-width: 480px) {
    .regular_customers {
        width: 480px;
    }
    .regular_customers__container {
        width: 100%;
    }
    .regular_customers__customerslist {
        flex-wrap: wrap;
        justify-content: center;
    }
}

