.what_we_do {
    margin: 0 auto;
    width: 1600px;
}

.what_we_do__container {
    width: 1200px;
    margin: 0 auto;
} 
.what_we_do__pictures {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 30px;
}

.what_we_do__picture--element {
    flex-basis: calc((100% - 60px) / 3);
}

.what_we_do__textcontainer li {
    background-color: #2F303ACC;
    width: 373px;
    height: 70px;
    display: flex;
    margin: 0px;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 73.3px;
}

.what_we_do__textdescription {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    width: 212px;
    height: 16px;
}


@media screen and (max-width: 480px) {
    .what_we_do__container,
    .what_we_do h2 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .what_we_do__container,
    .what_we_do h2 {
        display: none;
    }
}

